form {
  background: linear-gradient(145deg, #1a1a1f, #111114);
  border: 1px solid rgba(168, 149, 255, 0.15);
  border-radius: 18px;

  padding: 28px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6),
    0 0 0 1px rgba(168, 149, 255, 0.05);

  color: #f3f3f3;
}
form .partials{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form .textarea{
    resize: none;
    width: 100%;
    padding: 0.6rem 0.4rem;
    outline: 1px solid white;
}
form .textarea:focus{
    box-shadow: 0 0 0 3px rgba(220, 212, 212, 0.6);
    outline: 2px solid blur(2px);
}

form button:hover,
form input:hover,
form textarea:hover{
    cursor: pointer;
}