/** animation for social links */
.link-social-links {
    color: #ffffff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.link-social-links:hover {
    transform: scale(1.1);
    color: #ffffff;
    filter: brightness(1.2);
}
